.profile{
    margin: 30px auto;
    width: 450px;
    background-color: #FFFFFF;
    border: 1px solid #DAE2EB;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.description{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.avatar{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.name{
    margin: 30px 0 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    text-align: center;
    color: #122236;
}

.tag{
    margin: 10px 0 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #939FAC;
}

.location{
    margin: 10px 0 30px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #939FAC;
}

.stats{
    width: 450px;
    height: 130px;
    display: flex;
    flex-direction: row;
    background-color: #F3F6F9;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.stats li{
    width: 150px;
    height: 130px;
    background-color: #F3F6F9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.stats li:nth-child(1){
    border-width: 2px 2px 0px 0px;
    border-style: solid;
    border-color: #E9EDF3;
    border-radius: 0px 0px 0px 10px;
}

.stats li:nth-child(2){
    border-top: 2px solid #E9EDF3;
}

.stats li:nth-child(3){
    border-width: 2px 0px 0px 2px;
    border-style: solid;
    border-color: #E9EDF3;
    border-radius: 0px 0px 10px 0px;
}

.label{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    text-align: center;
    color: #9AA6B2;
    margin-bottom: 10px;
}

.quantity{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    text-align: center;
    color: #3A4453;
}

@media screen and (max-width: 460px){
    .profile{
        width: 300px;
        margin: 20px auto;
        padding-top: 30px;
    }

    .name{
        margin: 20px 0 0;
        font-size: 28px;
    }
    
    .tag{
        margin: 10px 0 0;
        font-size: 22px;
    }
    
    .location{
        margin: 10px 0 20px;
        font-size: 22px;
    }

    .stats{
        width: 300px;
    }

    .label{
        font-size: 18px;
    }
    
    .quantity{
        font-size: 18px;
    }
}